.table-responsive-data2 {
    background-color: white;
    padding: 10px;
    border-radius: 5px;

    .item {
        border: 2px solid white;
        border-radius: 50%;
        background: white;
    }
    .noData {
        min-height: 100%;
        position: relative;
        display: flex;
        align-items: center;
    
        .datatr {
            margin: 0 auto;
        }
    }
    .pagination-bg{
        min-height: 100%;
        position: relative;
        display: flex;
        justify-content: end;
        .pagination{
         padding-right: 25px;
        }
    }
}
.div-right{
    display: flex;
    justify-content: end; 
    padding: 0 30px 10px 0;
    @media only screen and (max-width: 600px){
        display: block;
    }
    .type-input{
        padding-right: 20px;
    }
    .btn-success{
        margin-right: 20px;
        @media only screen and (max-width: 600px){
            margin-top: 20px;
            margin-right: 20px;
        }
    }
    .btn-warning{
        @media only screen and (max-width: 600px){
            margin-top: 20px;
            margin-right: 20px;
        }
    }
}