.Background-full-left {
    padding-top: 20px;

    .icon-logo {
        width: 200px;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .background-image {
        padding-top: 10px;
        img {
            width: 90%;
            height: 90%;
            object-fit: contain;
        }
    }
    h2{
        color: #3ea154;
        padding-top: 10px;
    }
    .btn-lg{
        margin-top: 20px;
    }
}