.label-form-bg {
    padding-bottom: 155px;
    @media (max-width: 800px) {
        padding-bottom: 0px;
    }

    .label-form {
        font-weight: 500;
        color: #3ea154;
    }

    .label-form-chinh-sach {
        font-weight: bold;
        color: #3ea154;
    }

    .login-form-button {
        width: 100%;
        background: #3ea154;
        border: #3ea154;

        :hover {
            background: #3ea154;
            border: #3ea154;
        }
    }
}