.Bg-manageAccountBan {
    height: 500px;
    overflow: auto;
    padding: 0 16px;
    border: 1px solid rgba(140, 140, 140, 0.35);
    overflow-y: scroll;

    .ban_manage_account {
        color: white;
        padding: 4px 20px;
        background: red;
        border: 1px solid red;
        border-radius: 2px;
        cursor: pointer;
    }

    .duyet_manage_account {
        color: white;
        padding: 4px 8px;
        background: orange;
        border: 1px solid orange;
        border-radius: 2px;
        cursor: pointer;
    }
}