.conten_changePass{
    background-color: white;
    border-radius: 3px;
    padding: 25px 20px;
    .btn-primary{
        margin: 10px 10px 10px 0px;
    }
    .btn-warning{
        margin: 10px 10px 10px 0px;
    }
}